.Rproj.user
.Rhistory
.RData
.Ruserdata
input_files/
figures/
**arch/
**Spp.out/
data/stan_data_save/
data/
data/species_relative_abundance/
data/Solymosetal2020_suppl/
data/BCR_Terrestrial/
data/Canada/
Stillmanetal/
convergence/
estimates/
output/
**comp_trad_new**


